.idea/

home-work lessons/.idea/
hw-resume/.idea/
hw-resume/fonts/
hw-resume/img/
hw-resume/js/
hw-resume/css/font-awesome-4.7.0
hw-resume/css/bootstrap.min.css
hw-resume/css/bootstrap-social.css
hw-resume/css/font-awesome.min.css
hw-resume/css/LicenseCertificate-R690053.pdf